    * {
      box-sizing: border-box;
    }

    body {
      margin: 0;
    }

    .dropdown{
      display: inline;
    }


    #leccionesdrop{
      margin-left: 5vh;
      color: goldenrod;
      background-color: black;
      border-color: black;
    }

    #testdrop{
      margin-left: 5vh;
      color: goldenrod;
      background-color: black;
      border-color: black;
    }

    #leccionesmenu{
      background-color: black;
    }

    #leccionesmenu{
      background-color: black;
    }

    #testmenu{
      background-color: black;
    }

    #principiante{
      color: goldenrod;
    }

    #intermedio{
      color: goldenrod;
    }

    #experto{
      color: goldenrod;
    }


    img {
      border-radius: 50%;
      margin-top: 2.591vh;
    }


    span {
      color: white;
    }

    :link {
      color: goldenrod;
      text-decoration: wavy;
    }

    :visited {
      color: goldenrod;
      text-decoration: wavy;
    }

    #contactonav {
      width: 3.109vh;
      height: 3.109vh;
      margin-left: 5.181vh;
      display: inline;
    }

    #miembrosnav {
      width: 3.109vh;
      display: inline;
      margin-left: 5.181vh;
    }

    #webnav {
      width: 3.109vh;
      display: inline;
      margin-left: 5.181vh;
    }

    #calculadoranav{
      width: 3.109vh;
      display: inline;
      margin-left: 5.181vh;
    }
