
        
        /* Estils contenedor principal */

        * {
          box-sizing: border-box;
        }
    
        body {
          margin: 0;
        }
    
        .dropdown{
          display: inline;
        }
    
    
        #leccionesdrop{
          margin-left: 5vh;
          color: goldenrod;
          background-color: black;
          border-color: black;
        }
    
        #testdrop{
          margin-left: 5vh;
          color: goldenrod;
          background-color: black;
          border-color: black;
        }
    
        #leccionesmenu{
          background-color: black;
        }
    
        #leccionesmenu{
          background-color: black;
        }
    
        #testmenu{
          background-color: black;
        }
    
        #principiante{
          color: goldenrod;
        }
    
        #intermedio{
          color: goldenrod;
        }
    
        #experto{
          color: goldenrod;
        }
    
    
        span {
          color: white;
        }
    
        :link {
          color: goldenrod;
          text-decoration: wavy;
        }
    
        :visited {
          color: goldenrod;
          text-decoration: wavy;
        }
    
        #contactonav {
          width: 3.109vh;
          height: 3.109vh;
          margin-left: 5.181vh;
          display: inline;
        }
    
        #miembrosnav {
          width: 3.109vh;
          display: inline;
          margin-left: 5.181vh;
        }
    
        #webnav {
          width: 3.109vh;
          display: inline;
          margin-left: 5.181vh;
        }
    
        
        .sub-contenedor {flex: 1; padding: 10px;height: 600px;text-align: center; border: 2px solid #ccc}
        img{border-radius: 50%;max-width: 80%; max-height: 80%; display: block; margin: auto;border: 1px solid #000000;}
